<div class="row" data-container="game">

 <div class="col-xs-12 text-center">
   <h1>Learn Katakana カタカナ</h1>
 </div>

 <div class="col-xs-12">
   <div class="row">
     <div class="col-xs-12 text-center">
       <div data-container="letter"></div>
     </div>

     <div class="col-xs-12 text-center">
       <div data-container="english"></div>
     </div>
   </div>
 </div>
</div>

<div class="button-container">

  <div class="row">
    <div class="col-xs-3 text-center">
      <button class="btn btn-warning btn-lg" name="audio">
        <i class="fa fa-headphones fa-2x"></i>
      </button>
    </div>

    <div class="col-xs-3 text-center">
      <button class="btn btn-primary btn-lg" name="english-letter">
        <i class="fa fa-font fa-2x"></i>
      </button>
    </div>

    <div class="col-xs-3 text-center">
      <button class="btn btn-success btn-lg" name="next">
        <i class="fa fa-step-forward fa-2x"></i>
      </button>
    </div>

    <div class="col-xs-3 text-center">
      <button class="btn btn-danger btn-lg" name="stop-petals">
        <i class="fa fa-remove fa-2x"></i>
      </button>
    </div>
  </div>

</div>

<audio controls>
</audio>
